@charset 'UTF-8';

body {
	margin: 0;
	display:flex;
 	flex-direction:column;
	background-color: #1d1d21;
	min-height: 100vh;
}

footer {
	background-color: #333333;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 100px;
	align-items: center;
}

footer {
	margin-top: auto;
}

h1, h2, h3, h4, h5, h6, p, li, ul, a {
	margin: 0;
	padding: 0;
	color: white;
}

#left-header-section {
	padding-left: 140px;
}

#right-header-section {
	padding-right: 120px;
}

.header-page-link {
	padding: 0px 20px;
	font-size: 15pt;
	text-decoration: none;
	display: inline-block;
}

#active-page-link {
	color: #c76734;
}